@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Greeting</h1>
    <p>We're going to have an amazing party!<br/>
    To do : sell it better, ad a pic or smth
    </p>
    @Html.ActionLink("RPSV now", "RsvpForm")
    
</div>
